.text_container {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', sans-serif;
    border-style: double;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    
}

@media only screen and (min-width: 1500px) {
    .text_container {
        min-height: 250px;
        font-size: 30px;
        margin-top: 5%;
    }

}